body {
  font-style: arial, sans-serif;
}

header {
  padding: 50px;
}

img {
  height: 50vh;
  width: 100%;
}

.product {
  display: flex;
  border: solid;
  flex-direction: column;
}

nav {
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 5px 0 0 0;
  background: #9791cc;
}

.nav-link {
  text-decoration: none;
}

#main {
  text-align: center;
}
